<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="mybatis.entity.Student">
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mybatis.entity.Student">
    insert into student (student_id, student_name)
    values (#{studentId,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="mybatis.entity.Student">
    update student
    set student_name = #{studentName,jdbcType=VARCHAR}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select student_id, student_name
    from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select student_id, student_name
    from student
  </select>
</mapper>